{% extends 'base.html.twig' %}

{% block title %}Article Création{% endblock %}

{% block body%}
    <section class="info-article">
        <h1>Informations about article</h1>  
        <p>Name: {{ article.getTitre()}}</p>       
        <p>Content: {{ article.getContenu()}}</p>  
        <p>Date de création: {{ date }}</p>
        <h2>{{ message }}</h2>     
    </section>
{% endblock %}