
{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<h1 class="titre_creation">Création nouveau article</h1>
<a class="title-link link_creation" href="{{ path('article_creation') }}">Nouveau article</a>
<h1>Affichage de tous les articles</h1>
<table class="table-titres table w-auto">
    <thead class="thead-dark">
        <tr>
            <th>Titres</th>
            <th>Nombre de votes</th>
        </tr>
    </thead>
    <tbody>
        {% for val in articles%}
        <tr>
            <td><a class="title-link" href="{{ path('affichage_article', {'id': val.id}) }}">{{ val.getTitre() }}</a></td> 
            <td><p>{{ val.getVotesTotal() }}</p></td>           
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
